@tailwind base
@tailwind components
@tailwind utilities

.theme-light

    --bg-background-main: #E8EDF1
    --bg-background-descr: #D9E1E8

    --text-copy-main: #7F848C
    --text-copy-descr: #363C46
    --text-copy-btngreen: #ffffff
    --text-copy-green: #00B047
    --text-copy-blue: #2D9CDB

.theme-dark

    --bg-background-main: #170D2B
    --bg-background-descr: #120A20

    --text-copy-main: #D9E1E8
    --text-copy-descr: #ffffff
    --text-copy-btngreen: #363C46
    --text-copy-green: #00F9C9
    --text-copy-blue: #41a0d6
