@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamProBold.eot');
	src: local('../fonts/GothamPro/GothamProBold.eot'), local('GothamPro-Bold'),
		url('../fonts/GothamPro/GothamProBold.eot#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: local('../fonts/GothamPro/GothamPro.eot'), local('GothamPro'),
		url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GamesDaymariusv2';
	src: url('../fonts/GamesDaymariusv2/GamesDaymariusv2.ttf');
	font-weight: normal;
	font-style: normal;
}